/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .wrapper {
        width: 1200px;
        margin: 2rem auto;
    }
}



/* utilities */

.btn-outline-pimary{
    @include button;
    border: 1px solid $dc-primary;
    color: $dc-text-white;
}

